HELLOh1 {
    justify-content: center;
    text-align: center;
}

button {
    background-color: beige;
    color: blueviolet;
    font-size: large;
}

.containers {
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
    justify-content: center;
    text-align: center;
}

--------------------------3d0a6b0b0f8f56df--
h1 {
    justify-content: center;
    text-align: center;
}

button {
    background-color: beige;
    color: blueviolet;
    font-size: large;
}

.containers {
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
    justify-content: center;
    text-align: center;
}

--------------------------f4b4b0f74b94fc15--
h1 {
    justify-content: center;
    text-align: center;
}

button {
    background-color: beige;
    color: blueviolet;
    font-size: large;
}

.containers {
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
    justify-content: center;
    text-align: center;
}

--------------------------8f1e8de886965194--
